# Minecraft
MC_VERSION="1.21.1"
NEOFORGE_VERSION="21.1.236"

# World
LEVEL_NAME="world"
LEVEL_SEED=""
DIFFICULTY="hard"
GAMEMODE="survival"

# Server
MEMORY="4608M"
MAX_PLAYERS="10"
VIEW_DISTANCE="8"
SIMULATION_DISTANCE="6"
MOTD="Frost SMP"

# Authentication
ONLINE_MODE="FALSE"
WHITELIST=""
OPS=""

# Gameplay
SPAWN_PROTECTION="250"
PVP="TRUE"
ENABLE_COMMAND_BLOCK="FALSE"
MAX_TICK_TIME="-1"

# Tunnel (playit.gg — no port forwarding needed)
PLAYIT_SECRET_KEY=""

# JVM
JVM_OPTS="-XX:+UseG1GC -XX:+ParallelRefProcEnabled -XX:MaxGCPauseMillis=100 -XX:+UnlockExperimentalVMOptions -XX:+DisableExplicitGC -XX:+AlwaysPreTouch -XX:G1NewSizePercent=30 -XX:G1MaxNewSizePercent=40 -XX:G1HeapRegionSize=8M -XX:G1ReservePercent=20 -XX:G1HeapWastePercent=5 -XX:InitiatingHeapOccupancyPercent=15 -XX:G1MixedGCCountTarget=4 -XX:G1MixedGCLiveThresholdPercent=90 -XX:G1RSetUpdatingPauseTimePercent=5 -XX:SurvivorRatio=32 -XX:+PerfDisableSharedMem -XX:MaxTenuringThreshold=1"
SYNC_CHUNK_WRITES="false"
RUN_AS_ROOT="true"
ENABLE_RCON="true"
RCON_PASSWORD="changeme"
