# Minecraft
MC_VERSION="1.21.1"
NEOFORGE_VERSION="21.1.236"

# World
LEVEL_NAME="world"
LEVEL_SEED=""
DIFFICULTY="hard"
GAMEMODE="survival"

# Server
MEMORY="5G"
MAX_PLAYERS="10"
VIEW_DISTANCE="8"
SIMULATION_DISTANCE="6"
MOTD="Frost SMP"

# Authentication
ONLINE_MODE="FALSE"
WHITELIST=""
OPS=""

# Gameplay
SPAWN_PROTECTION="0"
PVP="TRUE"
ENABLE_COMMAND_BLOCK="FALSE"
MAX_TICK_TIME="-1"

# Tunnel (playit.gg — no port forwarding needed)
PLAYIT_SECRET_KEY=""

# JVM
JVM_OPTS=""
RUN_AS_ROOT="true"
ENABLE_RCON="true"
RCON_PASSWORD="changeme"
